.custom-header {
  color: #F5F5F7;
  background-color: #1D1D1F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.custom-logo {
  font-size: 24px;
}

.custom-nav-container .custom-nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
}

.custom-nav-container .custom-nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: #F5F5F7;
  font-size: 1rem;
  font-weight: 500;
}

/* .custom-nav-container .custom-nav-links a:hover{
  color: #6A0DAD;
} */

.custom-menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.custom-menu-toggle span {
  height: 3px;
  width: 25px;
  background: #fff;
  margin: 2px;
  transition: 0.3s;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .custom-nav-container .custom-nav-links {
      position: absolute;
      top: 80px;
      right: 0;
      width: 100%;
      height: 0;
      flex-direction: column;
      overflow: hidden;
      background-color: #1D1D1F;
      transition: height 0.3s ease;
      gap: 0;
  }

  .custom-nav-container .custom-nav-links li {
      text-align: center;
      margin: 15px 0;
  }

  .custom-menu-toggle {
      display: flex;
  }

  .custom-nav-container.active .custom-nav-links {
      height: 115px;
  }

  /* Animação do ícone do menu */
  .custom-menu-toggle.open span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
  }

  .custom-menu-toggle.open span:nth-child(2) {
      opacity: 0;
  }

  .custom-menu-toggle.open span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
  }
}
